@page "/about-holden"

<PageTitle>About Holden</PageTitle>

<style>
    body {
        background-color: rgb(105, 105, 105, 0.25);
    }
</style>

<h1>Information About Holden Caulfield</h1>

<img class="image" src="https://cdn.vox-cdn.com/thumbor/RWW3gFgz1zWHRBCNgG6XHTWnvWs=/0x0:1089x1600/1200x800/filters:focal(458x713:632x887)/cdn.vox-cdn.com/uploads/chorus_image/image/62788940/Catcher-in-the-rye-2.0.jpg" />

<h2>Character</h2>
<p>
    Holden is 17 years old at the time of writing his story in which he is 16. He is 6 feet and 2.5 inches and woefully skinny.
    He smokes often and is in bad shape because of that. His hair is partially gray while his siblings' hair is red 
    although it is not written in the novel that Holden also has red hair but it is a possibility. Holden is struggling with life 
    and his general health is poor. He is very sensitive, introverted and lazy but also protective and thoughtful of others.
</p>
<p>
    Holden went to Pencey Prep school and describes it as "phony" which is one of his favourite words to describe something 
    artificial which, to him, are all institutions controlled by adults. He wants to protect other people's innocence and 
    despises one's loss of innocence and absence of integrity. He resents the adult world but has no choice and is 
    trapped by alcohol, cigarettes and the idea of sex. Although Holden is not experienced in sex or similar acts his attitude 
    towards women is shown to be very mature and will stop if a girl says "No.". 
</p>


<h4>Depression</h4>
<p>
    After Holden's brother Allie dies from Leukemia at a very young age, Holden falls into a deep depression where he is starting to have suicidal thoughts, 
    struggles with his place in the world and questions his existence. His depression overcomes him after he is expelled from 
    Pencey Prep school and starts to cry. Before leaving Holden says goodbye to his history teacher, Mr. Spencer, who tells
    Holden to regain his composure and get a grip of himself or he will regret it later on. Holden doesn't know how to process
    Mr. Spencer's advice and continues to think only about his demise as if he was "dead or something".
</p>
<p>
    In New York Holden's depression hits harder and he is starting to have imaginary conversations with Allie which help him
    escape reality. This also demonstrates how much stress and hardship Holden is currently going through.
    Thoughts of Allie lying in his grave surrounded by dead bodies and tombstones haunt Holden. 
</p>
<p>
    Life is change and Holden understands this more and more nearing the end of the novel. He starts to see the beautiful parts
    of the world again and feels, even for a moment, joy looking at Phoebe going around in the carrousel which just spins and
    never ends anywhere.
</p>


<h4 id="phony">The word "Phony"</h4>
<p>
    Holden uses the word "Phony" very often and it usually means that he is calling something artificial or ingenuine but also uses it
    to express his hate towards, usually adult, people.
</p>
