@page "/about-holden"

<PageTitle>About Holden</PageTitle>

<style>
    body {
        background-color: rgb(105, 105, 105, 0.25);
    }
</style>

<h1>Information About Holden Caulfield</h1>
<h2>Character</h2>
<p>
    Holden is 17 years old at the time of writing his story in which he is 16.
</p>


<h4>Depression</h4>
<p>

</p>


<h4 id="phony">"Phony"</h4>
<p>
    Holden uses the word "Phony" very often and
</p>
