@page "/about-phoebe"

<PageTitle>About Phoebe</PageTitle>

<style>
    body {
        background-color: rgb(105, 105, 105, 0.25);
    }
</style>

<h1>Information About Phoebe Caulfield</h1>
<p>
    Phoebe is Holden's 10 year old sister. She is very smart but can be very childish every now and then.
    Holden and Phoebe both love and care about each other a lot even though she seems to be quite the opposite of
    Holden since her personality is very bright and mature. She is also the most trusted family member, successful 
    in school.
</p>
<p>
    Phoebe sees right through Holden and guesses immediately what happened to Holden although she can't understand 
    Holden's dark thoughts and given that she is still only 10 years old she is not expected to understand what
    Holden is telling her.
</p>
<p>
    Holden sees Phoebe as his most trusted person and both really care for each other. She is a turning point in 
    Holden's depression and also serves as a guide to the readers since she knows Holden better than the readers.
    At the end of the book, when she shows up at the museum and demands to come with him, 
    she seems not so much to need Holden as to understand that he needs her.
</p>

@code {

}
