@page "/about-holden"

<PageTitle>About Holden</PageTitle>

<h1>Information About Holden Caulfield</h1>
<h2>Character</h2>
<p>
    Holden is 17 years old at the time of writing his story in which he is 16.
</p>

<h3 id="phony">"Phony"</h3>
<p>Holden uses the word "Phony" very often and</p>
