@page "/author-info"

<PageTitle>Author Info</PageTitle>

<style>
    body {
        background-color: rgb(105, 105, 105, 0.25);
    }
</style>

<h1>About J.D. Salinger</h1>

<img class="image" src="https://img.nzz.ch/2018/12/27/5c623571-165f-44a1-830c-d30304c90b08.jpeg"/>


<p>
    J.D. Salinger (Jerome David Salinger) was born January 1st 1919 in New York to a family with two children, a jewish father and a christian mom. 
    After school he attended Valley Forge Military Academy in Wayne, Pennsylvania and after graduating there in 1936 
    he returned back to his hometown and attended New York University.
    Salinger would then make a trip to europe to learn about various other languages and the import business and 
    then attempt to attend at college in Ursinus before going back to New York.
    After arriving at New York at Columbia University he would meet professor Whit Burnett who sensed the talent and potential 
    inside Salinger and pushed him to be a writer.
</p>
<p>
    As Salingers popularity peaked he was sent to war at Pearl Harbor. He suffered a nervous breakdown after his 2 years of service in the army
    and was hospitalized. He married twice before going back to New York and continue his life as a writer in 1946.
    In 1951 he published the famous novel "The Catcher in the Rye".
    Salinger retreated from public and had many more relationships during his month of which he divorced his third wife after more than a decade.
</p>


@code {

}
