@page "/author-info"

<PageTitle>Author Info</PageTitle>

<style>
    body {
        background-color: rgb(105, 105, 105, 0.25);
    }
</style>

<h1>About J.D. Salinger</h1>

<img class="image" src="https://img.nzz.ch/2018/12/27/5c623571-165f-44a1-830c-d30304c90b08.jpeg"/>



@code {

}
