@page "/"

<PageTitle>Index</PageTitle>

<style>
    body {
        background-color: rgb(105, 105, 105, 0.25);
    }
</style>

<h1>About the book</h1>

<div class="row">
  <div class="column">
    <img src="https://cdn.britannica.com/94/181394-050-2F76F7EE/Reproduction-cover-edition-The-Catcher-in-the.jpg">
  </div>
    <div class="column">
        <img src="https://cdn.penguin.co.uk/dam-assets/books/9780241950432/9780241950432-jacket-large.jpg">
    </div>
</div>



<p>
    The Catcher in the Rye written by <a href="/TCITR-website/author-info">J.D. Salinger</a> in 1951 shows what it means to be a misunderstood
    teenager going through the transition of childhood and adulthood.
    The situation of the main character, Holden Caulfield, resembles that of many readers, as Holden experiences the challenge of growing up.
</p>
<p>
    In the beginning Holden will be expelled from Pencey prep school and goes to New York two days before his expulsion
    in search of the truth behind the 
    <a href="/TCITR-website/about-holden#phony">"phony"</a>
    adult world.
    There his feeling of loneliness gets stronger and seeks out human interaction.
    He encounters new and familiar faces with his sister being the last one of them.
    After all the events Holden experienced he ends up exhausted and emotionally unstable.
</p>
