img {
    max-width: 100%;
    max-height: 356px;
}

.row {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #e8ac74;
    border-radius: 15px;
    background: #f4c48c;
}

.column {
    flex: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive layout */
@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}
