@page "/more"

<PageTitle>More Catcher in the Rye Websites</PageTitle>

<style>
    body {
        background-color: rgb(105, 105, 105, 0.25);
    }
</style>

<h1>More Catcher in the Rye Websites:</h1>
<h5>
    <a href="https://sites.google.com/site/catcherintheryegroup4/home">This Website</a> has additional information
    on the meaning of <a href="https://sites.google.com/site/catcherintheryegroup4/holden-s-red-hunting-cap">Holden's hunting cap</a> and a <a href="https://sites.google.com/site/catcherintheryegroup4/holden-s-vernacular">
        list of slangs Holden uses</a> throughout the book with meanings as well as
    some information on <a href="https://sites.google.com/site/catcherintheryegroup4/psychological-disorders">psychological disorders</a>.
</h5>
<br/>
<br/>
<h5>
    And <a href="https://americanwritersmuseum.org/stories-behind-classic-book-covers-the-catcher-in-the-rye/">this one</a> explains all
    about the cover of the book (Horse with the armor, left image on homepage)
</h5>
<br/>
<br/>
<h5>If you want to find out which character you resemble the most from the novel then check out 
    <a href="https://www.proprofs.com/quiz-school/story.php?title=pq-which-catcher-in-the-rye-character-are-you">this website.</a>
</h5>
@code {

}
